#channelPage {
    padding: 0;
}

.channel__inner {

    .channel__header {
        width: 100%;
        height: 300px;
        position: relative;
        background-position: center center;

        .circle {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
        }
    }

    .channel__info {
        margin-top: 100px;
        color: var(--black);
        text-align: center;

        .title {
            margin-bottom: 10px;
        }

        .desc {
            color: var(--black400);
            padding: 0 10vw;
            margin-bottom: 30px;
            overflow-wrap: anywhere;
        }

        .info span {
            background-color: var(--black);
            color: var(--white);
            padding: 10px 20px;
            border-radius: 40px;
            margin: 4px;

            svg {
                width: 20px;
                height: 20px;
                vertical-align: -5px;
                margin-right: 5px;
            }
        }
    }

    .channel__video {
        padding: 40px;
    }

    .channel__more {
        display: flex;
        justify-content: center;
        /* 수평 중앙 정렬 */
        align-items: center;
        /* 수직 중앙 정렬 (필요한 경우) */

        button {
            font-size: 0.8rem;
            cursor: pointer;
            padding: 0.5vw 1vw;
            border-radius: 0.5vw;
            color: var(--white);
            background-color: #333;
        }
    }
}



.info.channel {
    .author {
        display: none;
    }

    .date {
        display: none;
    }
}