#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 1000;
    background-color: var(--white);
    border-right: 1px solid var(--black600);
    color: var(--black);
    background-color: var(--white);

}

#main {
    color: var(--black);
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: #fff;
}

#footer {
    text-align: center;
    border-top: 1px solid var(--black600);
    padding: 10px 10px 10px 250px;
    background-color: #fff;

    a {
        color: var(--black300);
        padding: 10px 20px;
        display: inline-block;

        &:hover {
            @include underline;
            text-decoration-color: var(--black300);
        }
    }

}

@media (max-width: 800px) {
    #root {
        padding: 100px;
    }

    #header {
        left: -260px;
        transition: left 0.3s ease-in;

        &.show {
            left: 0;
            transition: left 0.3s ease-in;

        }

    }



    #main {
        padding-left: 0;
    }

    #footer {
        width: 100%;
        margin-left: 0;
    }

}