#search {
    display: flex;
}

.search__inner {
    width: 100%;
    padding: 13px 40px 18px 40px;
    border-bottom: 1px solid var(--black600);

    label {
        display: none;
    }

    .search__input {
        width: 100%;
        background-color: var(--white);
        border: 1px solid var(--black600);
        padding: 15px 30px;
        border-radius: 50px;
        color: var(--black300);
    }
}

.mobile__menu {
    display: none;
    padding: 17px 40px 17px 40px;
    border-bottom: 1px solid var(--black600);

    div {
        width: 50px;
        height: 50px;
        border: 3px solid #000;
        border-radius: 50%;

        span {
            width: 30px;
            height: 3px;
            background-color: var(--black300);
            display: inline-block;
            border-radius: 3px;
            margin-left: 7px;
            margin-top: 20px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 8px;
                width: 30px;
                height: 3px;
                border-radius: 3px;
                background-color: var(--black300);
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 16px;
                width: 30px;
                height: 3px;
                border-radius: 3px;
                background-color: var(--black300);
            }
        }
    }

}

@media (max-width: 800px) {
    .search__inner {
        padding: 17px 0 17px 20px;
    }

    .mobile__menu {
        display: block;
    }
}