#today {}

.today__inner {
    display: flex;
    background-color: var(--black300);

    .today__thumb {
        width: 40%;
        background-image: url(https://i.ytimg.com/vi/UzF1v7I8xSs/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCbrlqS71QGMwhKt8lF-3LS-PxoUQ);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .today__text {
        width: 60%;
        height: 310px;
    }
}