.traveler__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .traveler {
        // margin-right: 2vw;
        margin-bottom: 2vh;

        .traveler__img {
            // width: 150px;
            // height: 150px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 0.5rem;
        }

        .traveler__info {
            width: 150px;
            text-align: center;
        }
    }
}

#travelerPage {
    .traveler__inner {

        .traveler {
            margin-right: 20px;
            width: 150px;

            .traveler__img {
                width: 150px;
                height: 150px;
            }
        }
    }

    @media (max-width: 800px) {
        .traveler__inner {
            justify-content: space-between;

            .traveler {
                width: 24%;
                margin-right: 0;

                .traveler__img {
                    width: 100%;
                    height: auto;
                }
            }
        }

    }

    @media (max-width: 600px) {
        .traveler__inner {
            .traveler {
                width: 31%;
            }
        }
    }

    @media (max-width: 400px) {
        .traveler__inner {
            .traveler {
                width: 48%;
            }
        }

    }
}